/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el formulario */
.login-container {
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ancho máximo ajustado */
    width: 100%;
}

.login-container img {
    width: 150px; /* Tamaño ajustado */
    margin-bottom: 20px;
}

form input {
    width: calc(100% - 20px); /* Ancho ajustado */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    width: calc(100% - 20px); /* Ancho ajustado */
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
}

.separador {
    margin-bottom: 15px;
}

.facebook {
    width: calc(100% - 20px); /* Ancho ajustado */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #357ae8; /* Color de fondo para dispositivos medianos y grandes */
}

.facebook a {
    text-decoration: none;
    color: #fff;
}

/* Sección "No tienes una cuenta? Regístrate" */
.registro-container {
    text-align: center;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px; /* Margen superior ajustado */
    max-width: 350px; /* Ancho máximo ajustado */
    width: 100%;
}

.registro {
    text-align: center;
}

.registro a {
    color: #003569;
    text-decoration: none;
}

.registro a:hover {
    text-decoration: underline;
}

/* Media queries para cambiar el color en diferentes tamaños de pantalla */
@media only screen and (max-width: 600px) {
    .login-container {
        background-color: #ffffff; /* Cambia el color del formulario para dispositivos pequeños */
    }

    form button, .facebook {
        background-color: #3897f0; /* Cambia el color del botón para dispositivos pequeños */
    }
}

@media only screen and (min-width: 601px) {
    .login-container {
        background-color: #f0f0f0; /* Cambia el color del formulario para dispositivos medianos y grandes */
    }
}
